@media only screen and (min-width: 220px) and (max-width: 500px) {
    .self-intro-main {
        height: 50%;
        width: 100%;
        /* border: 1px double #000; */
        float: left;
        margin: 4% auto auto auto;
        /* padding: 1%; */
    }
    .self-intro-main h4 {
        color: #fff;
        margin-top: 1%;
    }
    .self-image-main {
        height: 80%;
        width: 120px;
        /* border: 1px double #000; */
        /* border-radius: 50%; */
        /* float: left; */
        margin: auto;
        /* padding: 7% 2%; */
        background: url("/images/profile/profile2-min.jpg");
        background-position: 38% 100%;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 50%;
    }
    .self-image-main img {
        border-radius: 50%;
        height: 125px;
        width: 116px;
        background-size: contain;
    }
    .self-description-main {
        height: 20%;
        width: 70%;
        border: 1px double #000;
        float: left;
        margin: auto;
        padding: 3% 2%;
    }
    .self-navigator-main {
        height: 20%;
        width: 70%;
        border: 1px double #000;
        float: left;
        margin: auto;
        padding: 3% 2%;
    }
}
@media only screen and (min-width: 501px) and (max-width: 600px) {
    .self-intro-main {
        height: 50%;
        width: 100%;
        /* border: 1px double #000; */
        float: left;
        margin: 4% auto auto auto;
        /* padding: 1%; */
    }
    .self-intro-main h4 {
        color: #fff;
        margin-top: 1%;
    }
    .self-image-main {
        height: 80%;
        width: 135px;
        /* border: 1px double #000; */
        /* border-radius: 50%; */
        /* float: left; */
        margin: auto;
        /* padding: 7% 2%; */
        background: url("/images/profile/profile2-min.jpg");
        background-position: 38% 100%;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 50%;
    }
    .self-image-main img {
        border-radius: 50%;
        height: 125px;
        width: 116px;
        background-size: contain;
    }
    .self-description-main {
        height: 20%;
        width: 70%;
        border: 1px double #000;
        float: left;
        margin: auto;
        padding: 3% 2%;
    }
    .self-navigator-main {
        height: 20%;
        width: 70%;
        border: 1px double #000;
        float: left;
        margin: auto;
        padding: 3% 2%;
    }
}
@media only screen and (min-width: 601px) and (max-width: 767px) {
    .self-intro-main {
        height: 50%;
        width: 100%;
        /* border: 1px double #000; */
        float: left;
        margin: 4% auto auto auto;
        /* padding: 1%; */
    }
    .self-intro-main h4 {
        color: #fff;
        margin-top: 1%;
    }
    .self-image-main {
        height: 80%;
        width: 135px;
        /* border: 1px double #000; */
        /* border-radius: 50%; */
        /* float: left; */
        margin: auto;
        /* padding: 7% 2%; */
        background: url("/images/profile/profile2-min.jpg");
        background-position: 38% 100%;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 50%;
    }
    .self-image-main img {
        border-radius: 50%;
        height: 125px;
        width: 116px;
        background-size: contain;
    }
    .self-description-main {
        height: 20%;
        width: 70%;
        border: 1px double #000;
        float: left;
        margin: auto;
        padding: 3% 2%;
    }
    .self-navigator-main {
        height: 20%;
        width: 70%;
        border: 1px double #000;
        float: left;
        margin: auto;
        padding: 3% 2%;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .self-intro-main {
        height: 50%;
        width: 100%;
        /* border: 1px double #000; */
        float: left;
        margin: 4% auto auto auto;
        /* padding: 1%; */
    }
    .self-intro-main h4 {
        color: #fff;
        font-size: 23px;
        margin-top: 1%;
    }
    .self-image-main {
        height: 80%;
        width: 190px;
        /* border: 1px double #000; */
        /* border-radius: 50%; */
        /* float: left; */
        margin: auto;
        /* padding: 7% 2%; */
        background: url("/images/profile/profile2-min.jpg");
        background-position: 38% 100%;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 50%;
    }
    .self-image-main img {
        border-radius: 50%;
        height: 125px;
        width: 116px;
        background-size: contain;
    }
    .self-description-main {
        height: 20%;
        width: 70%;
        border: 1px double #000;
        float: left;
        margin: auto;
        padding: 3% 2%;
    }
    .self-navigator-main {
        height: 20%;
        width: 70%;
        border: 1px double #000;
        float: left;
        margin: auto;
        padding: 3% 2%;
    }
}
